.story-section{
    margin-top: 100px;


    &__section-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-top: 165px;


        &-line{
            width: 30px;
            height: 1px;
            background-color: #ECECED;
        }


        &-text{
            font-family: $fontKarla;
            text-transform: uppercase;
            font-weight: 400;
            @include fontSize(12);
            @include remLh(18);
            letter-spacing: 2px;
            color: $colorPrimary;
        }
    }


    &__image-container{
        margin-top: 102px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        
        
        &--living-room{
            &-desc{
                width: 286px;
            }
        }
    }
}